.card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.image-box-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 260px;
  max-width: 100%;
}

.card + .card {
  margin-top: 1.5rem;
}

.card-header {
  font-weight: bold;
  background-color: rgb(54, 29, 122);
  color: white;
  padding: 0.75rem 1.25rem;
}

.card-body {
  padding: 1.25rem;
}