<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- th:fragment：このブロックを他のテンプレートから th:replace で呼び出せるようにする -->
<div th:fragment="sidebar">
  <link rel="stylesheet" th:href="@{/css/common/sidebar.css}" />
  <!-- サイドバー用のホバー領域 -->
  <div id="sidebar-hover"></div>
  <!-- サイドバー -->
  <div id="sidebar">
	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">ログイン</a>
	<!-- ログアウトはPOSTが必要なため、フォームで送信する -->
	<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
	  <button type="submit" class="btn btn-link text-white p-0 d-block text-start">ログアウト</button>
	</form>
	<!-- #authentication：thymeleaf-extras-springsecurityが提供する式オブジェクト。ログイン中ユーザーのIDをURLパラメータとして使用（sec:authenticationという別属性ではない） -->
	<a sec:authorize="isAuthenticated()"
	   th:href="@{/profile/detail/{id}(id=${#authentication.principal.userId})}">プロフィール情報</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/settings}">設定</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/add/general}">アカウント追加</a>
    <a href="#">アカウント一覧</a>
  </div>
  <!-- オーバーレイ -->
  <div id="overlay"></div>
</div>
</body>
</html>