<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- th:fragment：このブロックを他のテンプレートから th:replace で呼び出せるようにする -->
<div th:fragment="sidebar">
  <link rel="stylesheet" th:href="@{/css/common/sidebar.css}" />
  <!-- サイドバー用のホバー領域 -->
  <div id="sidebar-hover"></div>
  <!-- サイドバー -->
  <div id="sidebar">
    <a sec:authorize="!isAuthenticated()" href="#">ログイン</a>  <!-- ログイン画面へのリンク(ログイン画面はまだないので#を設定) -->
	<!-- ログアウトはPOSTが必要なため、フォームで送信する -->
	<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
	  <button type="submit" class="btn btn-link text-white p-0 d-block text-start">ログアウト</button>
	</form>
    <a sec:authorize="isAuthenticated()" href="#">プロフィール情報</a>
    <a sec:authorize="isAuthenticated()" href="#">設定</a>
    <a sec:authorize="isAuthenticated()" href="#">アカウント追加</a>
    <a href="#">アカウント一覧</a>
  </div>
  <!-- オーバーレイ -->
  <div id="overlay"></div>
</div>
</body>
</html>