input::placeholder {
  font-size: 14px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
ul {
  list-style: none;
  color: red;
  font-weight: 600;
  padding-left: 0.5rem !important;
  margin-bottom: 0 !important;
}
select.form-select {
  padding-left: 8px;
}
main {
  height: auto;
}
.bg-danger {
  background-color: #f7c8c894 !important;
}